/* Smartphones (portrait and landscape) ----------- */
    

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        
        #menu{
            font-size: 0.6em;
        }

        #menu a{
            padding: 5px 10px;
            margin: 0px 5px;
        }
        
        .section .section_container{
            padding: 40px 20px;
        }

        .content{
            width: 90%;
        }
        


    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
        
    
    }
    
    